<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/css/login.css">
</head>

<body>
    <% include ../common/admin/header.html %>
    <div class="container-fluid">
        <div id="row">
            <% include ../common/admin/leftmenu.html %>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="row">     
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Add Filters</h2><hr>
                            </div>
                            <div class="col-md-6">
                                <h2>Added Filters</h2><hr>
                            </div>
                        </div>
                        <% if(status){ 
                            if(status == 'success'){ %>
                        <div class="alert alert-success">
                            <p>Uploaded Successfully</p>
                        </div>
                        <% } else {%>
                        <div class="alert alert-danger">
                            <p class="text-center">
                                <%= status %>
                            </p>
                        </div>
                        <%  }
                        } %>
                    </div>
                    <div class="col-md-6">
                        <form action="/admin/addfilter" method="post">
                            <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                                <label>Product Category</label><br>
                                <select name="category" id="category" class="form-control" required>
                                    <option>Select Product Category</option>
                                    <option value="watch">watches</option>                                <option value="dresses">dresses</option>
                                    <option value="perfume">perfume</option>
                                </select>
                            </div>
                            <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                                <label>Filter Name</label><br>
                                <select name="type" id="type" class="form-control" required>
                                    <option>Select Type</option>
                                </select>
                            </div>
                            <div id="addmore">
                                <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                                    <label>Filter (Eg:Fossil,Tissot ,..etc)</label><br>
                                    <input type="text" class="form-control" name="values" required />
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                                <button class="btn btn-primary" id="add">Add More</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="card-title"><h4>Watch</h4></div>
                                    <table class="table">
                                    <% datas.forEach(function(data){
                                        if(data.category == 'watch'){%>
                                            <tr>
                                                <td><strong><%= data.type %></strong></td>
                                                <td><%= data.values %></td>
                                            </tr>
                                    <%}})%>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="card-title"><h4>Dress</h4></div>
                                    <% datas.forEach(function(data){
                                        if(data.category == 'dresses'){%>
                                            <div class="text-info mt-2">
                                            <%= data.type %> : <%= data.values %> <br>
                                            </div>
                                    <%}})%>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </main>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('select[name=category]').on('change', function (e) {
            var selCat = $('#category option:selected').val();
            if (selCat == 'watch') {
                $('#type').empty()
                $('#type').append('<option selected="selected" value="brand">Brand</option>');
                $('#type').append('<option  value="material">Material</option>');
                $('#type').append('<option  value="display">Display type</option>');
            } else if (selCat == 'dresses') {
                $('#type').empty();
                $('#type').append('<option selected="selected" value="brand">Brand</option>');
                $('#type').append('<option value="material">Material</option>');
                $('#type').append('<option value="size">Size</option>');
                $('#type').append('<option value="category">Categories</option>');
            } else if (selCat == 'perfume') {
                $('#type').empty();
                $('#type').append('<option selected="selected" value="brand">Brand</option>');
                $('#type').append('<option value="quantity">Quantity</option>');
            } else {
                $('#type').empty();
                $('#type').append('<option>Please Select</option>');
            }
            selectBox = selectBox + '</div>';
            $('#filterName').replaceWith(selectBox);
        });

        $('#add').click(function (e) {
            e.preventDefault();
            var newInput = '<div class="col-xs-9 col-sm-8 col-lg-12 form-group">' +
                '<input class="form-control" type="text" name="values" required/>' +
                '</div>';
            $('#addmore').append(newInput);
        });
    });
</script>
</html>