<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../assets/styles/login.css">
    </head>
<body>
    <div class="wrapper">
        <% include ../common/admin/leftmenu.html %>
        <div id="content">
            <h2>Add Item</h2>
            <hr>
            <% if(status){ 
                if(status == 'success'){ %>
                    <div class="alert alert-success">
                        <p>Uploaded Successfully</p>
                    </div>
            <% } else {%>
                <div class="alert alert-danger">
                    <p class="text-center"> <%= status %> </p>
                </div>
            <%  }
            } %>
            
            <form enctype="multipart/form-data" action="/admin/additem" method="post">
                <div class="row">
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Product Category</label><br>
                        <select name="type" id="type" class="chosen-select" required>
                            <option>Select Product Category</option>
                            <option value="watch">watches</option>
                            <option value="dresses">dresses</option>
                            <option value="perfume">perfume</option>
                        </select>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Product Name</label><br>
                        <input type="text" name="productName" required/>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Product Code</label><br>
                        <input type="text" name="productCode" required/>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Brand Name</label><br>
                        <input type="text" name="brand" required/>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Description</label><br>
                        <input type="text" name="description" required/>
                    </div>
                    <div id="watchdetails" style="display:none;">
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Strap Material</label><br>
                            <select name="material" id="material">
                                <option value="chain"> Chain</option>
                                <option value="leather">Leather</option>
                            </select>
                        </div>
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Display Type</label>
                            <select name="display" id="display">
                                <option value="digital"> Digital</option>
                                <option value="analog">Analog</option>
                            </select>
                        </div>
                    </div>
                    <div id="perfumedetails" style="display:none;">
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Material</label><br>
                            <input type="text" name="quantity" />
                        </div>
                    </div>
                    <div id="dressdetails" style="display:none;">
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Material</label><br>
                            <select name="dressmaterial" id="dressmaterial">
                                <option value="cotton"> Cotton</option>
                                <option value="polyster">Polyster</option>
                            </select>
                        </div>
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Size</label>
                            <select name="size" id="size">
                                <option value="S"> Small</option>
                                <option value="M">Medium</option>
                                <option value="L">Large</option>
                                <option value="XL">Extra Large</option>
                                <option value="XXL">Double XL</option>
                            </select>
                        </div>
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                            <label>Category</label>
                            <select name="category" id="category">
                                <option value="men"> Men</option>
                                <option value="women">Analog</option>
                                <option value="boy">Analog</option>
                                <option value="girl">Analog</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Price</label><br>
                        <input type="number" name="price" required />
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Offer</label><br>
                        <div class="btn btn-group">
                            <label><input type="radio" name="isOnsale"  value="N" />Disable</label>
                            <label><input type="radio" name="isOnsale"  value="Y" checked/>Enable</label><br>
                        </div>
                    </div>
                    <div id="offerdetails">
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group" >
                            <label>Discount Percentage</label><br>
                            <input type="number" name="discount" id="discount" required/>
                        </div>
                        <div class="col-xs-9 col-sm-8 col-lg-12 form-group" >
                            <label>Price After Discount</label><br>
                            <input type="number" name="offerprice" id="offerprice" readonly />
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Gender</label><br>
                        <select name="gender" id="gender" >
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Stock Details</label><br>
                        <div class="btn btn-group">
                            <label><input type="radio" name="isInstock"  value="Y" checked/>In Stock</label>
                            <label><input type="radio" name="isInstock"  value="N" />Out Of Stock</label><br>
                        </div>
                    </div>
                    <input type="hidden" name="imagetag" id="imagetag" />
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Select Image Tag</label><br>
                        <select name="tags" id="tags">
                            <option>None</option>
                            <option value="SALE">Sale</option>
                            <option value="BEST SELLER">Best Seller</option>
                            <option value="NEW ARRIVALS">New Arrival</option>
                        </select>
                    </div>
                    <div class="col-xs-9 col-sm-8 col-lg-12 form-group">
                        <label>Upload Image</label><br>
                        <input type="file" name="images" single required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-sm-8 col-lg-12">
                            <input type="submit" name="submit" id="btnSubmit" value="Upload" /> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
var filters = $('input[name=data]').val();
console.log(filters[0]);
    $(document).ready(function(){
        $('#sidebar').find('ul li').each(function(){
            if($(this).attr('id') == 'additem')
                $(this).addClass('active');
        });

        $('select[name=type]').on('change',function(){
            var selType = $('#type option:selected').val();
            //fetch fragment with lookupvalues according to type
            if(selType=='watch'){
                $('#watchdetails').show();
                $('#perfumedetails').hide();
                $('#dressdetails').hide();
            }else if(selType == 'perfume'){
                $('#perfumedetails').show();
                $('#watchdetails').hide();
                $('#dressdetails').hide();
            }else{
                $('#dressdetails').show();
                $('#perfumedetails').hide();
                $('#watchdetails').hide();
            }
        });
        $('input[type=radio][name=isOnsale]').change(function(){
            if($(this).val()=='Y'){
                $('#offerdetails').show();
                $("input[name=discount]").removeAttr('required');
            }else{
                $('#offerdetails').hide();
                $("input[name=discount]").val('');
                $("input[name=offerprice]").val('');
                $("input[name=discount]").removeAttr('required');
            }
        });

        $("input[name=discount]").on('blur',function(){
            var mrp  = $('input[name=price]').val();
            var sale = $('input[name=discount]').val(); 
            console.log('mrp : '+mrp+' discount :'+sale);
            var offerprice =(mrp * (100-sale))/100;
            $('input[name=offerprice]').val(offerprice);
        });

        $('select[name=tags]').on('change',function(){
            var selTag = $('#tags option:selected').val();
            var isSaleEnabled = $('input[name=isOnsale]:checked').val();
            if(isSaleEnabled == 'N'){
                $('input[name=imagetag]').val(selTag);
            }else{
                $('input[name=imagetag]').val('SALE');
            }
        });
    });
</script>
</html>