<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../assets/css/login.css">
    </head>
    <body>
            <div class="wrapper">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>ADMIN</h3>
                        </div>
                        <ul class="list-unstyled components">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">All Products</a>
                            </li>
                            <li>
                                <a href="#">Add Product</a>
                            </li>
                            <li>
                                <a href="#">Edit Product</a>
                            </li>
                            <li>
                                <a href="#">Orders</a>
                            </li>
                            <li>
                                <a href="#">Messages</a>
                            </li>
                        </ul>
        
                        <ul class="list-unstyled CTAs">
                            <li><a href="#" class="logout">Logout</a></li>
                        </ul>
                    </nav>
        
                    <!-- Page Content Holder -->
                    <div id="content">
        
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
        
                                <div class="navbar-header">
                                    <img id="logo" src="#">
                                </div>
        
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                       <li>Anything</li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
    </body>
</html>
