<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../assets/css/login.css">
    </head>

<body>
        <% include ../common/admin/header.html %>
        <div class="container-fluid">
            <div id="row">
                <% include ../common/admin/leftmenu.html %>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="row">
                        <h2>Edit Item</h2>
                    </div>
                    <hr>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <% if(status){ 
                                            if(status == 'success'){ %>
                                        <div class="alert alert-success">
                                            <p>Updated Successfully</p>
                                        </div>
                                        <% } else {%>
                                        <div class="alert alert-danger">
                                            <p class="text-center">
                                                <%= status %>
                                            </p>
                                        </div>
                                        <%  }
                                        } %>

                                    <% if(itemDetail !=null){%>
                                    <form action="/admin/edititem" id="editform" name="editform" method="post">
                                        <input type="hidden" name="id" value="<%= itemDetail._id %>" />
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Product Category</label><br>
                                                <select name="type" id="type" class="form-control"  required>
                                                    <option value="watch" <% if(itemDetail.type=='watch' ){%> selected
                                                        <%}%>>watches</option>
                                                    <option value="dresses" <% if(itemDetail.type=='dresses' ){%> selected
                                                        <%}%>>dresses</option>
                                                    <option value="perfume" <% if(itemDetail.type=='perfume' ){%> selected
                                                        <%}%>>perfume</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Product Name</label><br>
                                                <input type="text" class="form-control" name="productName" value="<%= itemDetail.title %>" required />
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Product Code</label><br>
                                                <input type="text" class="form-control" name="productCode" value="<%= itemDetail.productCode %>" readonly required />
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Description</label><br>
                                                <input type="text" class="form-control" name="description" value="<%= itemDetail.description %>" required />
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Price</label><br>
                                                <input type="number" class="form-control" name="price" value="<%= itemDetail.prize %>" required />
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Gender</label><br>
                                                <select class="form-control" name="gender" id="gender">
                                                    <option value="M" <% if(itemDetail.gender=='M' ){ %> selected
                                                        <%}%>>Men</option>
                                                    <option value="F" <% if(itemDetail.gender=='F' ){ %> selected
                                                        <%}%>>Women</option>
                                                    <option value="G" <% if(itemDetail.gender=='G' ){ %> selected
                                                        <%}%>>Girl</option>
                                                    <option value="B" <% if(itemDetail.gender=='B' ){ %> selected
                                                        <%}%>>Boy</option>
                                                </select>
                                            </div>
                                            <div id="filters" class="col-md-12 form-group mb-6">
                                                <div class="row">
                                                <% filters.forEach(function(data){ %>
                                                    <div class="col-md-6 form-group mb-3">
                                                        <label>Select
                                                            <%=data.type %></label><br>
                                                        <select name="<%=data.type %>" class="form-control" required>
                                                            <%data.values.forEach(function(value){%>
                                                            <%if(data.type == "brand"){%>
                                                                <option value="<%=value%>" <% if(value == itemDetail.brand){%> selected<%}%>> <%=value%> </option>
                                                            <%}else if(data.type == 'material'){%>
                                                                <option value="<%=value%>" <% if(value == itemDetail.material){%> selected<%}%> > <%=value%> </option>
                                                            <%}else if(data.type == 'display'){%>
                                                                <option value="<%=value%>" <% if(value == itemDetail.display){%> selected<%}%>> <%=value%> </option>
                                                            <%}else if(data.type == "category"){%>
                                                                <option value="<%=value%>" <% if(value == itemDetail.category){%> selected<%}%>> <%=value%> </option>
                                                            <%}else if(data.type == "size"){%>
                                                                <option value="<%=value%>" <% if(value == itemDetail.size){%> selected<%}%>> <%=value%> </option>
                                                            <% }})%>
                                                        </select>
                                                    </div>
                                                <% })%>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Offer</label><br>
                                                <div class="custom-control custom-radio">
                                                    <% if(itemDetail.isOnSale == "Y"){%>
                                                        <div>
                                                            <input type="radio" class="custom-control-input" name="isOnsale" id="isOnsale1" value="N" />
                                                            <label class="custom-control-label" for="isOnsale1">Disable</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" class="custom-control-input" name="isOnsale" id="isOnsale2" value="Y" checked/>
                                                            <label class="custom-control-label" for="isOnsale2">Enable</label>
                                                        </div>
                                                    <% } else {%>
                                                        <div>
                                                            <input type="radio" class="custom-control-input" name="isOnsale" id="isOnsale1" value="N" checked/>
                                                            <label class="custom-control-label" for="isOnsale1">Disable</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" class="custom-control-input" name="isOnsale" id="isOnsale2" value="Y" />
                                                            <label class="custom-control-label" for="isOnsale2">Enable</label>
                                                        </div>
                                                    <% }%>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group mb-6" id="offerdetails" <% if(itemDetail.isOnSale !="Y" ){ %> style="display:none;"
                                                <% } %> >
                                                <div class="row">
                                                    <div class="col-md-6 form-group mb-3" >
                                                        <label>Discount Percentage</label><br>
                                                        <input type="number" class="form-control" name="discount" id="discount" value="<%= itemDetail.discount %>" />
                                                    </div>
                                                    <div class="col-md-6 form-group mb-3">
                                                        <label>Price After Discount</label><br>
                                                        <input type="number" class="form-control" name="offerprice" id="offerprice" value="<%= itemDetail.discount %>" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Stock Details</label><br>
                                                <div class="custom-control custom-radio">
                                                    <% if(itemDetail.isInstock =='Y'){ %>
                                                        <div>
                                                            <input type="radio" name="isInstock" class="custom-control-input" id="isInstock1" value="Y" checked/>
                                                            <label class="custom-control-label" for="isInstock1">In Stock</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="isInstock" class="custom-control-input" id="isInstock2" value="N" />
                                                            <label class="custom-control-label" for="isInstock2">Out Of Stock</label>
                                                        </div>
                                                    <%} else {%>
                                                        <div>
                                                            <input type="radio" name="isInstock" class="custom-control-input" id="isInstock1" value="Y" />
                                                            <label class="custom-control-label" for="isInstock1">In Stock</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="isInstock" class="custom-control-input" id="isInstock2" value="N" checked/>
                                                            <label class="custom-control-label" for="isInstock2">Out Of Stock</label>
                                                        </div>
                                                    <%}%>
                                                </div>
                                            </div>
                                            <input type="hidden" name="imagetag" id="imagetag" value="<%= itemDetail.imageTag %>" />
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Select Image Tag</label><br>
                                                <select class="form-control" name="tags" id="tags">
                                                    <% if(itemDetail.imageTag !='SALE' && itemDetail.imageTag !='BEST SELLER' && itemDetail.imageTag !='NEW ARRIVALS'){ %>
                                                    <option>None</option>
                                                    <%}%>
                                                    <option value="SALE" <% if(itemDetail.imageTag=='SALE' ){ %> selected
                                                        <%}%> >Sale</option>
                                                    <option value="BEST SELLER" <% if(itemDetail.imageTag=='BEST SELLER' ){ %> selected
                                                        <%}%> >Best Seller</option>
                                                    <option value="NEW ARRIVALS" <% if(itemDetail.imageTag=='NEW ARRIVALS' ){ %> selected
                                                        <%}%> >New Arrival</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group mb-3">
                                                <label>Upload Image</label><br>
                                                <input class="form-control" type="file" name="images" id="images" single />
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <input class="btn btn-primary" type="submit" name="submit" id="btnSubmit" value="Upload" />
                                            </div>
                                        </div>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            console.log('clicked');
            var fileLength = document.getElementById('images').files.length;
            console.log('fileLength : ' + fileLength);
            if (fileLength > 0) {
                $('#editform').attr('enctype', "multipart/form-data");
            }
        });

        $('#sidebar').find('ul li').each(function () {
            if ($(this).attr('id') == 'additem')
                $(this).addClass('active');
        });

        $('select[name=type]').on('change', function () {
            var selType = $('#type option:selected').val();
            getFilterFragment(selType);
        });

        $('input[type=radio][name=isOnsale]').change(function () {
            if ($(this).val() == 'Y') {
                $('#offerdetails').show();
                $("input[name=discount]").removeAttr('required');
            } else {
                $('#offerdetails').hide();
                $("input[name=discount]").val('');
                $("input[name=offerprice]").val('');
                $("input[name=discount]").removeAttr('required');
            }
        });

        $("input[name=discount]").on('blur', function () {
            var mrp = $('input[name=price]').val();
            var sale = $('input[name=discount]').val();
            console.log('mrp : ' + mrp + ' discount :' + sale);
            var offerprice = (mrp * (100 - sale)) / 100;
            $('input[name=offerprice]').val(offerprice);
        });

        $('select[name=tags]').on('change', function () {
            var selTag = $('#tags option:selected').val();
            var isSaleEnabled = $('input[name=isOnsale]:checked').val();
            if (isSaleEnabled == 'N') {
                $('input[name=imagetag]').val(selTag);
            } else {
                $('input[name=imagetag]').val('SALE');
            }
        });

        // $('#images').on('select',function(){
        //     
        //     console.log(length);
        // });
    });
    function getFilterFragment(params) {
        console.log('/admin/filters?type=' + params);
        $.ajax({
            type: "get",
            url: '/admin/filters/' + params,
            cache: false,
            data: params,
            dataType: "html",
            success: function (fragment) {
                $('#filters').empty();
                $("#filters").html(fragment);
            },
            error: function () {
            }
        });
    }
</script>

</html>