<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../assets/css/login.css">
    </head>

<body>
        <% include ../common/admin/header.html %>
        <div class="container-fluid">
            <div id="row">
                <% include ../common/admin/leftmenu.html %>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <ul class="nav navbar-nav">
                        <% orders.forEach(function(order){ %>
                        <br>
                        <%if(order.isDeliverd == 'N'){%>
                        <li class="active">
                        <%}else{%>
                        <li>
                        <%}%>
                            <a href="/admin/orderdetails/<%= order._id %>">
                                <p>You have an order from
                                    <%= order.firstName %>
                                </p>
                            </a>
                        </li>
                        <%})%>
                    </ul>
                </main>
            </div>
        </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar').find('ul li').each(function () {
            if ($(this).attr('id') == 'orders')
                $(this).addClass('active');
        });
    });
</script>

</html>