<!DOCTYPE html>
<html lang="en">

<head>
    <title>itemDetails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <% include common/main.html%>

    <div class='row'>
        <% data.forEach(function(item){ %>
        <div class='col-sm-4'>
            <div class='thumbnail'>
                <a href='/details/<%= item._id %>'>
                    <img src="<%= item.imagePath %>">
                    <br>
                    <p>
                        <strong>
                            <%= item.title  %> </strong><br>
                        <strong>
                            <%= item.prize  %> </strong>
                    </p>
                </a>
            </div>
        </div>
        <% });%>
    </div>

</body>
<% include common/footer.html%>