<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/mdb.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/styles/minstyle.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/styles/cartStyle.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/cartStyle.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <% include common/main.html%>

    <div class="container">
        <%= data.lenght%>
        <% if (data.length==0){  %>
        <div>There is No Cart Items</div>
        <% } else{%>
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>

            <tbody>
                <% data.forEach(function(item){ %>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="../assets/images/<%= item.type %>/<%= item.imageName %>" alt="..." class="img-thumbnail" />
                            </div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">
                                    <%= item.title  %>
                                </h4>
                                <p>
                                    <%= item.description  %>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">
                        <% if(!item.offerPrice){ %>
                        <%= item.prize  %>
                        <% } else {%>
                        <%= item.offerPrice %>
                        <% }%>
                    </td>
                    <td data-th="Quantity">
                        <input type="number" name="count" class="form-control text-center" id="<%= item._id %>" value="1"
                            onblur="myFunction('<%= item._id%>','<%= item.offerPrice %>','<%= item.prize  %>','<%= item._id %>')">
                    </td>
                    <td data-th="Subtotal" class="text-center">
                        <span name="itemPrize" id="<%= item._id %>">
                            <% if(!item.offerPrice){ %>
                            <%= item.prize  %>
                            <% } else {%>
                            <%= item.offerPrice %>
                            <% }%></span>
                    </td>
                    <td class="actions" data-th="">
                        <a href="/<%= item._id %>" class="refresh">
                            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                        </a>
                        <a href="/cart/remove/<%= item._id %>">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </a>
                    </td>
                </tr>
                <% });%>
            </tbody>
            <tfoot>
                <tr>
                    <!-- <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td> -->
                    <td colspan="2" class="hidden-xs"></td>


                    <td class="hidden-xs text-center"><strong>Total <span name="totalPrize" id="totalPrize">
                                <%= totalAmount %></span></strong></td>
                    <td>
                        <form action="/checkouts" method="POST">
                            <% jsonResult.checkoutItems.forEach(function(result){%>
                            <input type="hidden" name="jsonResult" value="1" id="js<%= result.id%>">
                            <%})%>
                            <input type="hidden" value="<%= totalAmount %>" name="hdGrandTotal" id="hdGrandTotal">
                            <button type="submit" class="btn btn-success btn-block">Checkout
                                <!-- <a href="#" class="btn btn-success btn-block">Checkout--> -->
                                <i class="fa fa-angle-right"></i></button>
                        </form>
                    </td>
                    </form>
                </tr>
            </tfoot>
            </form>
        </table>
        <%}%>
    </div>

    <script>
        
            function myFunction(itemID, offerPrice, prize, id) {
                var itemPrize;
                var grandTotal = 0;
                var count = 1;
                $("input[name=count]").each(function () {
                    if ($(this).attr("id") == id) {
                        if ($(this).val() > 0) {
                            if (offerPrice) {
                                itemPrize = offerPrice * $(this).val();
                            }
                            else {
                                itemPrize = prize * $(this).val();
                            }
                        }
                        else {
                            alert("Quantity of product must be greater than 0");
                            $(this).val(1);
                        }
                        count = $(this).val();
                    }
                })

                $("input[name=hditemTotal]").each(function () {
                    alert($(this).val());
                })

                $("input[name=jsonResult]").each(function () {
                    if ($(this).attr("id") == "js" + itemID) {
                        $(this).val(count);
                    }
                })


                $("span[name=itemPrize]").each(function () {
                    if ($(this).attr("id") == id) {
                        $(this).text(itemPrize);
                    }
                    var value = $(this).text()
                    grandTotal = grandTotal + parseInt(value);
                })
                $("#totalPrize").text(grandTotal);
                $("#hdGrandTotal").val(grandTotal);
            }

            $('body').on('click', 'a.refresh', function (e) {
                var id = $(this).attr("href").replace("/", "");
                e.preventDefault();
                $("#" + id).val("1");
            });
    </script>

</body>
<% include common/footer.html%>