<!DOCTYPE html>
<html lang="en">

<head>
    <title>itemDetails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <% include common/main.html%>

    <div class="container text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>
                        <img src="<%= imagePath %>">
                    </p>
                </div>
            </div>
            <div class="col-sm-8 text-left">
                <h1>
                    <%= title %>
                </h1>
                <p>
                    <%= description %>
                </p>
                <hr>
                <h3>
                    <%= prize %>
                </h3>
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Order Know
    </button>
    <form method="POST" action="/addtocart">
        <input type="hidden" name="item-id" value="<%= id %>" >
        <button type="submit" class="btn btn-primary" id="add-cart">
            ADD to Cart
        </button>
    </form>
    <!-- <form method="POST" action="../details/order"> -->
    <% include common/Order.html%>
    <!-- </form> -->
    <div id="contact" class="container">
        <h3 class="text-center">Contact</h3>
        <p class="text-center">
            <em>We love our fans!</em>
        </p>
        <div class="row test">
            <div class="col-md-4">
                <p>Fan? Drop a note.</p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
                <p>
                    <span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<% include common/footer.html%>