<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/mdb.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/styles/minstyle.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<style>
    #filter-sidebar{
        margin-top: 80px;
        margin-left: -60px !important;
        height: 100%;
    }
    .card-custom{
        max-width: 200px;
        min-width: 200px;
    }
    .product-grid .card-img a{
        overflow: hidden;
    }
    .card-img img{
        max-height: 200px;
    }
</style>

<body class="grey lighten-3">

    <% include common/main.html%>
    <main>
        <div class="container">
            <div class="row" id="filter-sidebar">
                <aside class="col-sm-3 mb-3">
                    <p>Filter by</p>
                    <div class="card">
                        <% if(brands){%>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Brands </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <% brands.forEach(function(brand){ %>
                                    <a href="/brand" class="filter">
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="<%= brand %>" name="brand">
                                            <span class="form-check-label">
                                                <%= brand %>
                                            </span>
                                        </label>
                                    </a>
                                    <% }) %>
                                </div>
                            </div>
                        </article>
                        <% } if(displayTypes){%>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Display Types </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <a href="/brand" class="filter">
                                        <% displayTypes.forEach(function(displayType){ %>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="<%= displayType %>"
                                                name="displayType">
                                            <span class="form-check-label">
                                                <%= displayType %>
                                            </span>
                                        </label>
                                        <% }) %>

                                    </a>
                                </div>
                            </div>
                        </article>
                        <% } if(size){%>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Size </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <form action="/items/size" method="POST">
                                        <% size.forEach(function(sizes){ %>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="<%= sizes %>" name="size">
                                            <span class="form-check-label">
                                                <%= sizes %>
                                            </span>
                                        </label>
                                        <% }) %>
                                        <button type="submit">size</button>
                                    </form>

                                </div>
                            </div>
                        </article>
                        <%}if(materials){%>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Material </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <a href="/brand" class="filter">
                                        <% materials.forEach(function(material){ %>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="<%= material %>"
                                                name="material">
                                            <span class="form-check-label">
                                                <%= material %>
                                            </span>
                                        </label>
                                        <% }) %>
                                    </a>

                                </div>
                            </div>
                        </article>
                        <%}if(category){%>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Category </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <form action="/items/category" method="POST">
                                        <% category.forEach(function(cat){ %>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" name="cat" value="<%= cat %>">
                                            <span class="form-check-label">
                                                <%= cat %>
                                            </span>
                                        </label>
                                        <% }) %>
                                        <button type="submit"> category</button>
                                    </form>

                                </div>
                            </div>
                        </article>
                        <%}%>

                    </div>
                </aside>

                <div class="col-sm-9">
                    <div class="row justify-content-left" id="content">
                        <% data.forEach(function(item){ %>
                        <div class="card card-custom mx-2 mb-3">
                            <div class="product-grid">
                                <div class="card-img">
                                    <a href="/details/<%= item._id %>">
                                        <img class="pic-1" src="<%= imagePath %><%= item.imageName %>">
                                        <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg"> -->
                                    </a>

                                    <ul class="social">
                                        <li><a href="/details/<%= item._id %>" data-tip="Details"><i class="fa fa-list"></i></a></li>
                                        <li><a href="/checkout/<%= item._id %>?count=1" data-tip="Order Now"><i class="fa fa-plus"></i></a></li>
                                        <li><a href="/addtocart/<%= item.type %>/<%= item._id%>" class="cart" data-tip="Add to Cart"><i
                                                    class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                    <span class="product-new-label">
                                        <%= item.imageTag %></span>
                                    <% if(item.discount){%>
                                    <span class="product-discount-label">
                                        <%= item.discount %>%</span>
                                    <%}%>
                                </div>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">
                                            <%= item.title  %></a></h3>
                                    <div class="price">
                                        <% if(item.isOnSale=="Y"){%>
                                        <%= item.offerPrice %>
                                        <span>
                                            <%= item.prize  %></span>
                                        <%}else{%>
                                        <%= item.prize  %>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% });%>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        $(document).ready(function () {
            // brand Click
            var brandSelected = false;
            $('body').on("click", "a.filter", function (e) {
                var brand = [];
                var displayType = [];
                var material = [];
                var link = 'items' + $(this).attr("href");

                $.each($("input[name='brand']:checked"), function () {
                    brand.push($(this).val());
                })

                $.each($("input[name='displayType']:checked"), function () {
                    displayType.push($(this).val());
                })

                $.each($("input[name='material']:checked"), function () {
                    material.push($(this).val());
                })

                if (brand.length > 0 || displayType.length > 0 || material.length > 0) {
                    var data = {
                        brand: brand,
                        displayType: displayType,
                        material: material
                    }
                    postAjax(link, filterSuccessHandler, failurehandler, data);

                }
                if (brand.length == 0 && displayType.length == 0 && material.length == 0) {
                    var data = {
                        brand: null,
                        displayType: null,
                        material: null
                    }
                    postAjax(link, filterSuccessHandler, failurehandler, data);
                }
            })


            //add to cart 

            $(".cart").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "get",
                    url: $(this).attr("href"),
                    //data: params,s
                    success: function (response) {
                        $("#cart-Count").empty();
                        var div = '<span class="badge red z-depth-1 mr-1">' + response + `</span><i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>`;
                        $("#cart-Count").html(div);
                    },
                    error: function () {
                        failurehandler();
                    }
                });
            })

            // filter post request
            function postAjax(serviceUrl, successhandler, failurehandler, params) {
                $.ajax({
                    type: "post",
                    url: serviceUrl,
                    data: params,
                    success: function (response) {
                        filterSuccessHandler(response);
                    },
                    error: function () {
                        failurehandler();
                    }
                })

            }
            // filter sucess binding
            function filterSuccessHandler(resp) {
                var div;

                $.each(resp, function (i) {
                    var count = 0;
                    if (i != 0)
                        div += `<div class="card card-custom mx-2 mb-3"><div class="product-grid">
                                <div class="card-img">`;
                    else {
                        div = `<div class="card card-custom mx-2 mb-3"><div class="product-grid">
                                <div class="card-img">`;
                    }

                    if ($(this)[count].type == 'perfume') {
                        path = "../assets/images/perfume/";
                    }
                    else if ($(this)[count].type == 'watch') {
                        path = "../assets/images/watch/";
                    }
                    else if ($(this)[count].type == 'dresses') {
                        path = "../assets/images/dresses/";
                    }
                    var img = '<img class="pic-1" src=' + path + $(this)[count].imageName + ">";

                    var toolTip = `<ul class="social">
                                        <li><a href="/details/`+
                        $(this)[count]._id +
                        `" data-tip="Details"><i class="fa fa-list"></i></a></li>
                                        <li><a href="/checkout/`
                        + $(this)[count]._id +
                        `?count=1" data-tip="Order Now"><i class="fa fa-plus"></i></a></li>
                                        <li><a href="/addtocart/`+ $(this)[count].type + `/` + $(this)[count]._id + `class="cart" " data-tip="Add to Cart" class="addtocart"><i
                                                    class="fa fa-shopping-cart"></i></a></li>
                                    </ul><span class="product-new-label">`
                    var imgTag = $(this)[count].imageTag;
                    if ($(this)[count].discount) {
                        var discountLabel = `</span><span class="product-discount-label">` + $(this)[count].discount + '%</span>'
                    }
                    var rating = `</div><ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">`+ $(this)[count].title + `</a></h3>
                                    <div class="price">`;
                    var prize
                    if ($(this)[count].offerPrice) {
                        prize = $(this)[count].offerPrice + '<span>' + $(this)[count].prize + '</span>';
                    }
                    else {
                        prize = $(this)[count].prize;
                    }
                    closingTag = ` </div>
                                </div>
                            </div></div>`;
                    if (imgTag && discountLabel) {
                        div = div + img + toolTip + imgTag + discountLabel + rating + prize + closingTag;
                    }
                    else if (imgTag) {
                        div = div + img + toolTip + imgTag + rating + prize + closingTag;
                    }
                    else {
                        div = div + img + toolTip + rating + prize + closingTag;
                    }

                });
                $('#content').empty();
                $('#content').html(div);
                //     

            }

            function failurehandler(resp) {
                alert(resp);
            }
        })
    </script>

</body>

</html>