<!DOCTYPE html>
<html lang="en">

<head>
    <title>D2D</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <% include common/main.html%>


        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../assets/images/carousal_perfume.jpeg" alt="Perfume">
                    <div class="carousel-caption">
                        <h3>Perfumes</h3>
                        <p>The atmosphere in New York is lorem ipsum.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/carousal_watch.jpeg" alt="Watches">
                    <div class="carousel-caption">
                        <h3>Watches</h3>
                        <p>Thank you, Chicago - A night we won't forget.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/carousal_dress.jpg" alt="Dresses">
                    <div class="carousel-caption">
                        <h3>Dresses</h3>
                        <p>Even though the traffic was a mess, we had the best time.</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
        </div>
        <div id="category" class="bg-1">
            <div class="container text-center">
                <!-- <h3>A Team</h3>
      <p><em>We love programming!</em></p>
      <p>We have created a new website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br> -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a href="../perfume" data-toggle="collapse" id="perfume">
                                <img src="../assets/images/perfume.jpeg" alt="Perfumes">
                                <br>
                                <p>
                                    <strong>Perfumes</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a href="../watch" data-toggle="collapse" id="watch">
                                <img src="../assets/images/watch.jpeg" alt="Watches">
                                <br>
                                <p>
                                    <strong>Watches</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a href="#demo1" data-toggle="collapse">
                                <img src="../assets/images/dress.jpeg" alt="Dresses">
                                <br>
                                <p>
                                    <strong>Dresses</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">

        </div>

        <div id="contact" class="container">
            <h3 class="text-center">Contact</h3>
            <p class="text-center">
                <em>We love our fans!</em>
            </p>
            <div class="row test">
                <div class="col-md-4">
                    <p>Fan? Drop a note.</p>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
                    <p>
                        <span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span>Email: d2d@gmail.com</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button class="btn pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../assets/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/ajax.js"></script>
        <script type="text/javascript" src="../assets/javascript/javascript.js"></script>

</body>

<% include common/footer.html%>

</html>
