<nav id="sidebar">
    <div class="sidebar-header">
        <h3>ADMIN</h3>
    </div>
    <ul class="list-unstyled components">
        <li id="dashboard">
            <a href="/admin/dashboard">Dashboard</a>
        </li>
        <li id="items">
            <a href="/admin/products">All Products</a>
        </li>
        <li id="additem">
            <a href="/admin/additem">Add Product</a>
        </li>
        <li id="orders">
            <a href="/admin/orders">Orders</a>
        </li>
        <li id="addfilter">
            <a href="/admin/addfilter">Add Filter</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="/admin/logout" class="logout">Logout</a></li>
    </ul>
</nav>