<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item" id="dashboard">
            <a class="nav-link active" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" id="items">
            <a class="nav-link active" href="/admin/products">All Products</a>
        </li>
        <li class="nav-item" id="additem">
            <a class="nav-link active" href="/admin/additem">Add Product</a>
        </li>
        <li class="nav-item" id="orders">
            <a class="nav-link active" href="/admin/orders">Orders</a>
        </li>
        <li class="nav-item" id="addfilter">
            <a class="nav-link active" href="/admin/addfilter">Add Filter</a>
        </li>
    </ul>
    </div>
</nav>